<html>
<head>
    <title>Create</title>
     <style>
        body {
            text-align: center;
            margin: 20px;
        }
        h1 {
            margin: 5px 0;
            font-family: "Book Antiqua", Palatino, serif;
            font-size: 65px;
        }
        p {
            margin: 65px;
        }
    </style>
</head>
<body>
    <h1>Collaborate</h1>
    <form action="/create_document/" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required><br>

        <input type="submit" value="Create Document">
    </form>
</body>
</html>
