<html>
<head>
    <title>Edit2</title>
    <style>
        body {
            text-align: center;
            margin: 20px;
        }
        h1 {
            margin: 5px 0;
            font-family: "Book Antiqua", Palatino, serif;
            font-size: 65px;
        }
        p {
            margin: 50px;
        }
        button {
            color: black;
            padding: 15px;
            font-size: 16px;
            cursor: pointer;
            width: 180px;
        }
    </style>
</head>
<body>
    <h1>Edit Document</h1>
    <form id="updateForm" action="http://127.0.0.1:8002/update_document/{{ document_id }}" method="post">
        <textarea name="content" id="content" rows="50" cols="100" required>{{ document.content }}</textarea>
        <p></p>
        <button type="button" onclick="updateDocument()">Update Document</button>
    </form>

    <script>
        function updateDocument() {
            fetch('http://127.0.0.1:8002/update_document/{{ document_id }}', {
                method: 'POST',
                body: new FormData(document.getElementById('updateForm')),
            })
            .then(response => {
                if (response.ok) {
                    alert('Updated successfully');
                    window.location.href = 'http://localhost:8000/edit';
                } else {
                    alert('Update failed');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>