<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        body {
            text-align: center;
            margin: 20px;
        }
        h1 {
            margin: 5px 0;
            font-family: "Book Antiqua", Palatino, serif;
            font-size: 65px;
        }
        .input-container {
            margin-bottom: 10px;
        }
        .error-message {
            color: red;
        }
    </style>
</head>
    <body>
        <h1>Collaborate</h1>

        <form id="registrationForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        
            <button type="button" onclick="registerUser()">Register</button>

            <div class="error-message" id="error-message"></div>
        </form>
        
        <script>
            async function registerUser() {
                const username = document.getElementById('username').value;
                const password = document.getElementById('password').value;
        
                const response = await fetch('/register/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        username: username,
                        hashed_password: password
                    })
                });
        
                if (response.ok) {
                    alert('User registered successfully!');
                    window.location.href = 'http://127.0.0.1:8000/';
                } else {
                    const data = await response.json();
                    alert(`Error: ${data.detail}`);
                }
            }
        </script>
    </body>
</html>