<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
        body {
            text-align: center;
            margin: 20px;
        }
        h1 {
            margin: 5px 0;
            font-family: "Book Antiqua", Palatino, serif;
            font-size: 65px;
        }
        .input-container {
            margin-bottom: 10px;
        }
        .error-message {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Collaborate</h1>

    <form id="register">
        <div class="input-container">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Input username" required><br>
        </div>

        <div class="input-container">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Password" required><br>
        </div>

        <button type="button" onclick="register()">Register</button>
        
        <div class="error-message" id="error-message"></div>
    </form>

    <script>
        function register() {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
    
            const formData = {
                username: username,
                password: password
            };
    
            fetch('/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
            })
            .then(response => {
                if (response.ok) {
                    // Registration succeeded, redirect to the desired URL
                    window.location.href = 'http://127.0.0.1:8000/';
                } else {
                    return response.json();
                }
            })
            .then(data => {
                if (data) {
                    console.log(data);
                    // Handle the response data as needed (e.g., show an error message)
                }
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
